.header{
    width: 100vw;
    height: 6vh;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);
    margin-top: 1%;
    display: grid;
    grid-area: header;
    grid-column: 1/5;
    grid-row: 1/1;
    
}

.imgheader{
    margin-left: 5rem;
}



