.coresforms input{
    max-width: 16px;
    max-height: 16px;
    font-size: 1.5rem;
}

.corestitle{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.containercores{
    grid-area: cores;
    margin-left: 4rem;
    align-self: top;
    font-size: 1.7rem;
}

