body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

html{
  font-size: 62.5%;
}

.container{
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(193px, 1fr));
  grid-template-areas: "header header header header"
                       "navh navh navh ordenar"
                       "cores loja1 loja2 loja3"
                       "tamanho loja4 loja5 loja6"
                       "preco loja7 loja8 loja9"
                        

}


@media (max-width: 850px){
  html{
    font-size: 50%;
  }

}